@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');


.footer_container {
    background: #f9f9f9;
    height: 50px;
    text-align: center;

    .copyrights {
        font-size: 16px;
        color: #191970;
        align-items: center;
        text-align: center;
        p {
            a {
                color: #191970;
                font-weight: bold;
                margin-left: 0.8rem;
            }
        }

    }

}