/* sidebar */
@import url("https://fonts.googleapis.com/css?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.sidebar {
    background-color: #F3F4F6;
    width: 270px;
    padding: 36px 20px;
    transition: var(--transition-default);
  }
  .user-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 18px;
  }
  .info-name {
    font-weight: 500;
  }
  .info-img {
    width: 48px;
    height: 48px;
    overflow: hidden;
    overflow: hidden;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .info-name {
    font-size: 20px;
    color: var(--clr-white);
    text-transform: uppercase;
  }
  .navigation {
    margin-top: 28px;
    font-family: "Poppins";
    height: 550px;
    /*
    margin-top: 28px;
    font-family: "Poppins";
    height: 550px;  
    overflow-y: scroll;
  
    &::-webkit-scrollbar {
      width: 4px;
    }
  
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 18px;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: var(--clr-pumpkin);
      border-radius: 18px;
    }*/
  }
  .sidebar-change {
    margin-left: -260px;
  }
  
  .nav-item {
    margin-bottom: 10px;
    margin-right: 2px;
  }
  .nav-link {
    display: block;
    height: 46px;
    font-family: "Poppins";
    border-radius: 8px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: flex;
    padding: 6px 0px;
    column-gap: 10px;
    letter-spacing: 0.03em;
    border: 1px solid transparent;
    transition: var(--transition-default);

    .nav-icon{
      font-size: 20px;
    }
  }
  .nav-link:hover {
    background-color: #8380822c;
    padding: 6px 1px;
  }
  .nav-link.active {
    background-color: var(--clr-pumpkin);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
      rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  }
    .nav-link-icon {
      width: 25px;
    }
  .nav-link-text {
    text-transform: capitalize;
  }

  .nav-link-exit {
    display: block;
    height: 46px;
    border-radius: 8px;
    margin-top: 5px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: flex;
    padding: 6px 0px;
    column-gap: 12px;
    letter-spacing: 0.03em;
    border: 1px solid transparent;
    color: red;
    font-weight: 600;
    width: 100%;
    text-transform: capitalize;
    transition: var(--transition-default);
  }
  .nav-link-exit:hover {
    background-color: #e70b0be7;
    width: 100%;
    color: white;
  }
  .nav-link-exit.active {
    background-color: var(--clr-pumpkin);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
      rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  }
  .nav-icon-exit {
    font-size: 25px;
  }
  


  @media screen and (max-width: 1400px) {
    .sidebar {
      padding: 24px 16px;
    }
  }
  
  @media screen and (max-width: 1200px) {
    .sidebar {
      width: 72px;
      padding-left: 12px;
      padding-right: 12px;
    }
    .sidebar-change {
      margin-left: -72px;
    }
    .info-name {
      display: none;
    }
    .nav-item {
      display: flex;
      justify-content: center;
      margin-bottom: 18px;
    }
    .nav-link {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
    }
    .nav-link.active {
      border-radius: 100%;
    }
    .nav-link:hover {
      border-radius: 100%;
    }
    .nav-link-text {
      display: none;
    }
  }

  @media screen and (max-width: 420px) {
    .sidebar {
      margin-left: -72px;
    }
    .sidebar-change {
      margin-left: 0px;
    }
  }