@import url("https://fonts.googleapis.com/css?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

.cards-container {
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(4, 1fr);
    width: 10px;
    gap: 10px;


    .card-cont {
        margin-left: 4px;

        .card-widget {
            display: flex;
            justify-content: space-between;
            background: white;
            width: 225px;
            padding: 10px;
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(151, 148, 148, 0.37);
            border-radius: 10px;
            height: 115px;


            .card-left {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }


            .card-title {
                margin-top: 5px;
                font-size: 18px;
                font-weight: 500;
                color: #1F2937;
            }

            .desc {

                display: flex;
                justify-content: space-between;
                //$f39708
                .card-right {
                    justify-content: center;
                    font-size: 35px;
                    color: #14c08a;
                    //color: #191970;
                }

                .card-counter {
                    margin-left: 5px;
                    font-size: 1.5rem;
                    color: #7c7878;
                }
            }

        }
    }
}