.main-content {
    flex: 1;
    padding: 10px;
    margin-bottom: 50px;
}

.main-content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10px;
    margin-bottom: 20px;
    width: 1040px;
}

.content-top-title {
    color: var(--clr-white);
    font-size: 20px;
    font-weight: 600;
}

.content-top-btn {
    margin-left: 35px;
    font-size: 20px;
    margin-top: 55px;
}


.content-top {
    display: flex;
    align-items: center;
    padding: 3px;
    margin-left: 800px;
}