// Variables de color
:root {
    --blue: #4e73df;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #e74a3b;
    --orange: #fd7e14;
    --yellow: #f6c23e;
    --green: #1cc88a;
    --teal: #20c9a6;
    --cyan: #36b9cc;
    --white: #fff;
    --gray: #858796;
    --gray-dark: #5a5c69;
  }
  
  // Propiedades del formulario
  .form-control {
    font-family: var(--font-family-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--gray);
    text-align: left;
    box-sizing: border-box;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  
    // Otros estilos necesarios para los campos de entrada, selects, etc.
  }
  
  // Estilos específicos para diferentes tipos de campos
  input[type="text"],
  select {
    // Estilos específicos para campos de texto y selects
  }
  
  // Estilos para botones
  .btn {
    margin-left: 10px;
  }
  
  // Otros estilos necesarios para el formulario
  